In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('countries.csv')

df.head()

           Country  Population  Area (sq. mi.)
0     Afghanistan     31056997          647500
1         Albania      3581655           28748
2         Algeria     32930091         2381740
3  American Samoa        57794             199
4         Andorra        71201             468