In [3]:
import pandas as pd

In [6]:
# Reads the csv file and creates a DataFrame from the values
df = pd.read_csv('countries.csv')

# Displays the first few rows in the DataFrame
df.head()

           Country  Population  Area (sq. mi.)
0     Afghanistan     31056997          647500
1         Albania      3581655           28748
2         Algeria     32930091         2381740
3  American Samoa        57794             199
4         Andorra        71201             468

In [7]:
# Displays the first 10 rows in the DataFrame
# Try changing the parameter to display more or less rows!
df.head(10)

              Country  Population  Area (sq. mi.)
0        Afghanistan     31056997          647500
1            Albania      3581655           28748
2            Algeria     32930091         2381740
3     American Samoa        57794             199
4            Andorra        71201             468
5             Angola     12127071         1246700
6           Anguilla        13477             102
7  Antigua & Barbuda        69108             443
8          Argentina     39921833         2766890
9            Armenia      2976372           29800

In [8]:
# Gives info about the DataFrame regarding total number of entries and number of null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         227 non-null    object
 1   Population      227 non-null    int64
 2   Area (sq. mi.)  227 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.5+ KB

In [21]:
# Iterates through every row in the DataFrame
for index, row in df.iterrows():
    # Creates new variable called population_density (accesses population value and divides by area value)
    population_density = row['Population'] / row['Area (sq. mi.)']
    # Prints the value of the country row at the current iteration, and the population density to 2 decimal places
    print(f'{row['Country']}: {population_density:.2f}')

Afghanistan : 47.96
Albania : 124.59
Algeria : 13.83
American Samoa : 290.42
Andorra : 152.14
Angola : 9.73
Anguilla : 132.13
Antigua & Barbuda : 156.00
Argentina : 14.43
Armenia : 99.88
Aruba : 372.49
Australia : 2.64
Austria : 97.69
Azerbaijan : 91.94
Bahamas, The : 21.79
Bahrain : 1050.50
Bangladesh : 1023.37
Barbados : 649.45
Belarus : 49.58
Belgium : 339.99
Belize : 12.53
Benin : 69.82
Bermuda : 1241.00
Bhutan : 48.50
Bolivia : 8.18
Bosnia & Herzegovina : 87.99
Botswana : 2.73
Brazil : 22.10
British Virgin Is. : 150.97
Brunei : 65.76
Bulgaria : 66.59
Burkina Faso : 50.70
Burma : 69.83
Burundi : 290.70
Cambodia : 76.68
Cameroon : 36.47
Canada : 3.31
Cape Verde : 104.38
Cayman Islands : 173.42
Central African Rep. : 6.91
Chad : 7.74
Chile : 21.31
China : 136.92
Colombia : 38.28
Comoros : 318.41
Congo, Dem. Rep. : 26.72
Congo, Repub. of the : 10.83
Cook Islands : 89.12
Costa Rica : 79.75
Cote d'Ivoire : 54.75
Croatia : 79.49
Cuba : 102.68
Cyprus : 84.79
Czech Republic : 129.78
Denmark : 126.48
Djibouti : 21.15
Dominica : 91.39
Dominican Republic : 188.47
East Timor : 70.82
Ecuador : 47.78
Egypt : 78.77
El Salvador : 324.26
Equatorial Guinea : 19.25
Eritrea : 39.46
Estonia : 29.28
Ethiopia : 66.34
Faroe Islands : 33.77
Fiji : 49.59
Finland : 15.47
France : 111.28
French Guiana : 2.19
French Polynesia : 65.89
Gabon : 5.32
Gambia, The : 145.27
Gaza Strip : 3968.77
Georgia : 66.88
Germany : 230.86
Ghana : 93.58
Gibraltar : 3989.71
Greece : 81.01
Greenland : 0.03
Grenada : 260.76
Guadeloupe : 254.37
Guam : 316.12
Guatemala : 112.90
Guernsey : 838.58
Guinea : 39.41
Guinea-Bissau : 39.92
Guyana : 3.57
Haiti : 299.41
Honduras : 65.36
Hong Kong : 6355.71
Hungary : 107.29
Iceland : 2.91
India : 333.18
Indonesia : 127.88
Iran : 41.68
Iraq : 61.28
Ireland : 57.80
Isle of Man : 131.89
Israel : 305.83
Italy : 192.99
Jamaica : 250.94
Japan : 337.35
Jersey : 785.21
Jordan : 64.00
Kazakhstan : 5.61
Kenya : 59.57
Kiribati : 130.00
Korea, North : 191.75
Korea, South : 496.01
Kuwait : 135.71
Kyrgyzstan : 26.27
Laos : 26.89
Latvia : 35.22
Lebanon : 372.50
Lesotho : 66.62
Liberia : 27.31
Libya : 3.35
Liechtenstein : 212.42
Lithuania : 55.00
Luxembourg : 183.45
Macau : 16183.04
Macedonia : 80.94
Madagascar : 31.68
Malawi : 109.84
Malaysia : 73.95
Maldives : 1196.69
Mali : 9.45
Malta : 1266.50
Marshall Islands : 5.10
Martinique : 396.48
Mauritania : 3.08
Mauritius : 608.25
Mayotte : 538.06
Mexico : 54.47
Micronesia, Fed. St. : 153.85
Moldova : 131.98
Monaco : 16271.50
Mongolia : 1.81
Montserrat : 92.54
Morocco : 74.44
Mozambique : 24.56
Namibia : 2.48
Nauru : 632.71
Nepal : 192.19
Netherlands : 397.14
Netherlands Antilles : 230.97
New Caledonia : 11.50
New Zealand : 15.17
Nicaragua : 43.01
Niger : 9.89
Nigeria : 142.74
N. Mariana Islands : 172.87
Norway : 14.24
Oman : 14.60
Pakistan : 206.24
Palau : 44.93
Panama : 40.81
Papua New Guinea : 12.25
Paraguay : 16.00
Peru : 22.02
Philippines : 298.23
Poland : 123.25
Portugal : 114.79
Puerto Rico : 284.79
Qatar : 77.41
Reunion : 312.91
Romania : 93.91
Russia : 8.37
Rwanda : 328.36
Saint Helena : 18.16
Saint Kitts & Nevis : 149.92
Saint Lucia : 273.47
St Pierre & Miquelon : 29.03
Saint Vincent and the Grenadines : 302.95
Samoa : 60.09
San Marino : 479.52
Sao Tome & Principe : 193.22
Saudi Arabia : 13.78
Senegal : 61.10
Serbia : 106.34
Seychelles : 179.21
Sierra Leone : 83.71
Singapore : 6482.18
Slovakia : 111.36
Slovenia : 99.16
Solomon Islands : 19.42
Somalia : 13.90
South Africa : 36.22
Spain : 80.03
Sri Lanka : 308.22
Sudan : 16.46
Suriname : 2.69
Swaziland : 65.45
Sweden : 20.04
Switzerland : 182.22
Syria : 101.96
Taiwan : 640.25
Tajikistan : 51.16
Tanzania : 39.62
Thailand : 125.74
Togo : 97.71
Tonga : 153.33
Trinidad & Tobago : 207.85
Tunisia : 62.19
Turkey : 90.21
Turkmenistan : 10.33
Turks & Caicos Is : 49.19
Tuvalu : 454.23
Uganda : 119.45
Ukraine : 77.37
United Arab Emirates : 31.40
United Kingdom : 247.57
United States : 30.99
Uruguay : 19.48
Uzbekistan : 61.04
Vanuatu : 17.12
Venezuela : 28.21
Vietnam : 256.11
Virgin Islands : 56.86
Wallis and Futuna : 58.49
West Bank : 419.88
Western Sahara : 1.03
Yemen : 40.64
Zambia : 15.28
Zimbabwe : 31.33